*{
    margin: 0%;
    border: 0%;
}


body{
    
    
    font-family: "Poppins", Arial, sans-serif;
    background-color: #212121;
    color: white;
    
}
.hadding{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.inputArea{
    display: flex;
    
    justify-content: center;
}
.inputDiv{
    width: 400px;
    height: 35px ;
    border: 2px solid black ;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;

}
.buttonSearch{
    height: 35px;
    width: 35px;
    background-color: blue;
    border: 0px;
    border-radius: 20px;
}

#input{
   
    border: none;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    outline: none;
    background: transparent;

   
}
.content{
    min-height: 400px;
   margin: 10px 40px 0px 40px ; 
   padding: 0px 10px 0px 10px;
}
.list li {
  display: flex;
 
  align-items: center;

  padding: 8px 12px;
}
.side{
    margin-right: 15px;
    height: 25px;
    width: 25px;
    border: 0px;
    display: flex;
    
}
.but{
margin-left: auto;
border: 0px;
height: 30px;
width: 70px;
border-radius: 20px;
background-color: aqua;
color: black;
font-size: small;
border: white solid 2px;


}
.child{
    text-transform: capitalize;
    
}
.strike{
    text-decoration: line-through;opacity: 0.6;
}

