*{
    margin: 0%;
    font-family: sans-serif;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 10%;
    background-color: black;
    border: 1px solid grey ;
}
.logo{
    color: white;
    text-transform: capitalize;
    padding: 10px 10px 10px 10px ;
}
.headeArea{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.CloseButton{
    display: flex;
    padding: 1em 2em;
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: 0;
}
nav{
    display: flex;
}
nav ul {
    display: flex;
    list-style: none;
}
nav a{
    display: flex;
    padding: 1em 2em;
    text-decoration: none;
    color: white;
}
  .headeArea{
        margin: 0px 20px 0px 20px;
        height: 100%;
    }
    .menu-btn {
    font-size: 28px;      /* icon/text size */
    padding: 12px 16px;   /* button size */
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}


@media (max-width: 600px ) {
  
    nav{
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(15em , 100%);
        z-index: 10000;
        background-color: black;
    }
    nav.show{
        right: 0;
    }
    nav ul{
        width: 100%;
        flex-direction: column;
    }
}