*{
    border: 0px;
    margin: 0px;
    
}
.main{
    height: 100vh;
    width: 100vw;
    position: relative;
}
.box{
    height: 60px;
    width: 60px;
    background-color: yellow;
    border: 2px solid black;
    position: absolute;
    top:0px;
   left: 0px;
    
}
.eyes1{
    height: 10px;
    width: 10px;
    background-color: black;
    position: absolute;
    top: 10px;
    right: 5px;
}
.eyes2{
    height: 10px;
    width: 10px;
    background-color: black;
    position: absolute;
    bottom: 10px;
    right: 5px;
}
.catch{
    height: 62px;
    width: 62px;
    background-color: red;
    position: absolute;
    right: 50%;
    TOP: 50%;
    translate: -50% -50%;
}