*{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
.main{
    display: flex;
    
    justify-content: center;
    align-items: center;
    height:  100vh;
}
.show{
    height: 400px;
    width: 800px;
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Rhading{
    color: black;
}
.summery{
    margin: 10px 20px 10px 10px;
    display: flex;
    height: 100%;
    align-items: center;
}
.ResultBar{
    border: 1px solid black;
    width:  400px;
    height: 50px;
}
.actualno{
    background-color: yellow;
    height: 100%;
    width: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}